.general-information {
  width: 15em;
  border: 2px solid white;
  border-radius: 15px;
  margin-top: 2em;
}

.form-general-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
}

.sidebar-hr {
  width: inherit;
  background: white;
  height: 0.1em;
}

legend {
  font-size: 1.4em;
}
