.main-page {
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#print-button {
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  width: 80%;
  height: 3em;
  color: black;
  background: white;
  margin: 1em 0 1em 0;
  border-radius: 15px;
}

#print-button:active {
  background: #4b4848;
  color: white;
}

.right-side-view {
  flex-grow: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31.4cm;
}
.resume {
  background-color: white;
  color: black;
  height: 29.7cm;
  width: 21cm;
  box-shadow: 10px 10px 5px #4b4848;
}
