.main-page {
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resume {
  flex-grow: 4;
  background-color: white;
  color: black;
}
